SIGMENTUM_GPT_Automation_HTTP.json
{
  "name": "SIGMENTUM GPT Automation (HTTP)",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:filterRows",
      "version": 2,
      "parameters": {
        "__IMTCONN__": ""
      },
      "mapper": {
        "from": "drive",
        "limit": 1,
        "spreadsheetId": "19_J9DtVc6Tlb0RaX-tXbaNh1_scgwtHGYatFAlxuSkc",
        "sheetId": "Historical Metrics",
        "includesHeaders": true,
        "tableFirstRow": "A1:Z1",
        "orderBy": "date",
        "sortOrder": "desc",
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDecompression": true
      },
      "mapper": {
        "url": "https://api.openai.com/v1/chat/completions",
        "serializeUrl": false,
        "method": "post",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer YOUR_OPENAI_API_KEY"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "body": "{\"model\": \"gpt-4o-mini\", \"temperature\": 0.3, \"max_tokens\": 350, \"response_format\": {\"type\": \"json_object\"}, \"messages\": [{\"role\": \"system\", \"content\": \"You are SIGMENTUM, an institutional-grade trading intelligence analyst.\\n\\nReturn ONLY valid JSON. No markdown, no labels, no extra text. The response must start with { and end with }.\\n\\nSchema:\\n{\\n  \\\"headline\\\": string,\\n  \\\"bias\\\": \\\"Long\\\" | \\\"Short\\\" | \\\"Neutral\\\",\\n  \\\"confidence\\\": integer,\\n  \\\"ai_reasoning\\\": string,\\n  \\\"risk_level\\\": \\\"Low\\\" | \\\"Moderate\\\" | \\\"High\\\",\\n  \\\"risk_rationale\\\": string,\\n  \\\"action_summary\\\": string\\n}\\n\\nRules:\\n- confidence must be an integer 0-100\\n- ai_reasoning max 3 sentences\\n- action_summary max 2 sentences\\n- No extra fields\"}, {\"role\": \"user\", \"content\": \"TECHNICAL DATA\\nDate: {{1.`0`}}\\nClose: {{1.`1`}}\\nPercent Change: {{1.`2`}}\\nEMA 9: {{1.`3`}}\\nEMA 21: {{1.`4`}}\\nRSI 14: {{1.`5`}}\\nVolatility: {{1.`6`}}\\nRange: {{1.`7`}}\\n\\nGenerate the JSON now.\"}]}",
        "parseResponse": true
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {},
      "mapper": {
        "json": "{{2.data.choices[0].message.content}}"
      },
      "metadata": {
        "designer": {
          "x": 550,
          "y": 0
        }
      }
    },
    {
      "id": 10,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {
        "__IMTCONN__": ""
      },
      "mapper": {
        "mode": "select",
        "from": "drive",
        "spreadsheetId": "19_J9DtVc6Tlb0RaX-tXbaNh1_scgwtHGYatFAlxuSkc",
        "sheetId": "GPT Output",
        "includesHeaders": true,
        "useColumnHeaders": true,
        "insertDataOption": "INSERT_ROWS",
        "valueInputOption": "USER_ENTERED",
        "insertUnformatted": false,
        "values": {
          "date": "{{1.`0`}}",
          "pair": "EUR/USD",
          "summary": "{{3.ai_reasoning}}",
          "forecast": "{{3.action_summary}}",
          "pattern": "{{3.headline}}",
          "signal": "{{3.bias}}",
          "confidence": "{{3.confidence}}"
        }
      },
      "metadata": {
        "designer": {
          "x": 800,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "zone": "us2.make.com",
    "notes": []
  }
}